/*
===================================================
                font-faces
===================================================
*/

@font-face {
    font-family: 'Genericons';
    font-display: swap;
    src: local('Genericons'), url(../fonts/Genericons.eot);
    src: url(../fonts/Genericons.eot?#iefix) format("embedded-opentype"), url(../fonts/Genericons.woff) format("woff"), url(../fonts/Genericons.ttf) format("truetype"), url(../fonts/Genericons.svg#Genericons) format("svg");
    font-weight: normal;
    font-style: normal;
  }

/*
===================================================
                Variables
===================================================
*/

:root {
    /* general page */
    --purple: #4E50B8;
    --orange: #F0916E;
    --gray: #414464;
    --baseBackground: rgb(255, 246, 246);
    --iconBackGround: rgb(243,245,246);
    --lightTextGray: rgb(170,185,190);
    --lightTextGray2: rgb(131, 141, 145);
    
    /* film */
    --filmPictureSize: 16vw;


    /* Icons */
    --footerIconSize: 9vw;

    /* vh calculation fallback */

    --vh: 1vh;
  
  }

/*
===================================================
                Navegability
===================================================
*/

.user-page {
  display: none;
} 
/* User page starts disabled 
when the "more" <a> tag is clicked
then class enabled is added to the class using javascript*/


.enabled {
  display: block;
}

.disabled {
  display: none;
}

/*
===================================================
                Page elements
===================================================
*/

section .super-page {
    position: relative;
    font:normal 14px / 10px 'Open Sans', sans-serif;
    box-sizing: border-box;
    color: var(--gray);
    background-color: var(--baseBackground);
    min-width: 320px;
    overflow: hidden;
    -webkit-font-smoothing: antialiased;
    min-height: 100vh;
  }

h1 {
    font-size: 18px;
    line-height: 14px;
    font-weight: 600;
}
  
/* =================   Modal User ================*/

.modal-user {
  display: flex;
  flex-direction: column;
  margin: 10px auto;
/*   width: 80vw; */
  height: auto;
/*   max-width: 80vw; */
  max-height: 20vh;
  min-width: 75vw;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 10px; overflow: hidden;
  overflow: hidden;
  background-color: white;
}

.header-wrap {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  background-color: var(white)!important;
  padding: 20px 20px 0px 20px;
  border-bottom: 1px solid var(--baseBackground);
  
}

.header-wrap h1::after {
  content: '\f428';
  color: greenyellow;
  display: inline-block;
  -webkit-font-smoothing: antialiased;
  font: bold 20px/1 'Genericons';
  vertical-align: middle;
}

.header-wrap .info-wrap p {
  color: var(--lightTextGray2);
}

.header-wrap a {
  padding-top: 5px;
}

.header-wrap a svg {
    margin-top: 5px;
    fill: var(--orange);  
    width: 24px;
    height: 24px;
}
.modal-user .more {
  height: auto;
  padding: 10px;
  text-align: center;
  background-color: var(--baseBackground);
}

.modal-user .more a {
  color: var(--lightTextGray);
  text-decoration: none;
}


/*
===================================================
                Nav-Bar
===================================================
*/

/* Single padding  */
.nav-wrap,
.main-page,
.the-footer {
  padding: 30px 6vw 10px 6vw;
  max-width: 1310px;
  margin: 0 auto;
}
/* ....................... */

.page-header,
.the-footer {
  width: 100%;

}

.nav-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
}
.nav-wrap img {
  width: 30%;
}



.nav-wrap .location,
.nav-wrap .list,
.nav-wrap .user-picture {
  display: none;
}

.nav-wrap a.burger span {
  margin-top: 4px;
  margin-bottom: 4px;
}

.nav-wrap a span:first-of-type,
.nav-wrap a.burger::before,
.nav-wrap a.burger::after {
  content: "";
  display: block;
  width: 20px;
  height: 4px;
  background-color: var(--gray);
}

.nav-wrap .notification svg{
  fill: var(--gray);  
  width: 24px;
  height: 24px;
}
  
@media screen and (min-width: 768px) {

  .nav-wrap .nav-right {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  .nav-wrap .location{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
  }

  .nav-wrap .location i {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 35px;
    height: 35px;
    background-color: var(--iconBackGround);
    border: 1px solid rgb(254,254,254); border-radius: 10px; overflow: hidden;
    margin-right: 10px;
  }

  .nav-wrap .location svg {
    width: 60%;
    height: 60%;
    fill: var(--lightTextGray);
  }

  .nav-wrap .burger {
    display: none;
  }

  .nav-wrap .list,
  .nav-wrap .user-picture  {
    display: inline-block;
  }

  .nav-wrap .location span {
    font-size: 12px;
    font-weight: 600;
    padding-left: 5px
  }

  .nav-wrap .location span:first-of-type {
    color: var(--lightTextGray);
  }
 
  .nav-wrap .location::after {
    content: '\f502';
    color: var(--lightTextGray);
    display: inline-block;
    -webkit-font-smoothing: antialiased;
    font: bold 8px/1 'Genericons';
    vertical-align: middle;
    padding-top: 8px;
    padding-left: 3px;
  }

  .nav-wrap .list i,
  .nav-wrap .user-picture i {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 35px;
    height: 35px;
    margin-right: 20px;
    margin-left: 20px;
  }

  .nav-wrap .notification svg,
  nav-wrap .user-picture svg  {
    fill: var(--lightTextGray);  
  }

  .nav-wrap .list svg {
    width: 60%;
    height: 60%;
    fill: var(--lightTextGray);
  }

  .nav-wrap .user-picture svg {
    width: 90%;
    height: 90%;
    fill: var(--lightTextGray);
  }

  .nav-wrap .vertical span{
    display: inline-block;
    border-left: 3px solid var(--iconBackGround);
    height: 35px;
    margin-left: 20px;
  }

}

@media screen and (min-width: 1024px) {

  .nav-wrap .location span {
    font-size: 16px;
    font-weight: 600;
    padding-left: 5px
  }

  .nav-wrap .list i,
  .nav-wrap .user-picture i {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 45px;
    height: 45px;
    margin-right: 25px;
    margin-left: 25px;
  }

  .nav-wrap .notification svg{ 
    width: 28px;
    height: 28px;
  }

  .nav-wrap .vertical span{
    display: inline-block;
    border-left: 3px solid var(--iconBackGround);
    height: 45px;
    margin-left: 25px;
  }
}

/*
===================================================
                mobile: main-page
===================================================
*/
.main-page {
  display: flex;
  flex-direction: column;
}

.film-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.film-wrap .focus-img,
.film-wrap .patient-img {
  width: var(--filmPictureSize);
}

.film-wrap img {
  width: 100%;
  border: 0px solid rgb(254,254,254); border-radius: 10px; overflow: hidden;
}

.film-wrap .separator {
  position: relative;
  width: 0.25rem;
  height: 0.25rem;
  background-color: var(--lightTextGray);
  border-radius: 50%;

}

.film-wrap .separator::before,
.film-wrap .separator::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0px;
  background-color: inherit;
  border-radius: inherit;
}

.film-wrap .separator::before {
  top: -0.6rem;
}

.film-wrap .separator::after {
  top: 0.6rem;
}

.main-box {
  position: relative;

}

.main-page .main-patient-img {
  margin-top: 10px;
  background: url(https://via.placeholder.com/360x540/) center/cover no-repeat white;
  width: 100%;
  height: 60vh;
  margin-bottom: 0;
  border: 0px solid rgb(254,254,254); border-radius: 10px; overflow: hidden;
}

.main-box .pic-roll {
  display: flex;
  flex-direction: column;
  justify-content: centered;

  position: absolute;
  top: 8vw;
  right: 3.5vw;
}

.main-box .pic-roll div {
  margin: 1vw;
  width: 3.4vw;
  height: 3.4vw;
  background-color: var(--lightTextGray2);
  border: 0px solid rgb(254,254,254); border-radius: 3px; overflow: hidden;
}

.main-box div .selected {
  background-color: var(--orange);
}

.main-box .map-arrow {
  display: flex;
  position: absolute;
  top: 8vw;
  left: 3.5vw;
  color: white;
  align-items: center;
  font-size: 0.7rem;
  font-weight: 600;
}

.main-box .map-arrow span {
  margin-left: 2vw;
}


.main-box .map-arrow a{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 6vw;
  height: 6vw;
}

.main-box div svg {
  width: 100%;
  height: 100%;
  fill: white;
  z-index: 2;
}

/*
===================================================
                mobile: main-page // footer
===================================================
*/


/* ====================== icons ============== */

footer .engage a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 75px;
  height: 75px;
  background-color: var(--purple);
  border: 1px solid rgb(254,254,254); border-radius: 10px; overflow: hidden;
  margin-right: 0 auto;
  padding: 15px;
}

footer .engage svg {
  width: 100%;
  height: 100%;
  fill: white;
}

footer .magnifier a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: var(--footerIconSize);
  height: var(--footerIconSize);
  background-color: var(--baseBackground);
  border: 1px solid rgb(254,254,254); border-radius: 10px; overflow: hidden;
  margin-right: 0 auto;
}

footer .magnifier svg {
  width: 100%;
  height: 100%;
  fill: var(--lightTextGray);
}

footer .layers a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: var(--footerIconSize);
  height: var(--footerIconSize);
  background-color: var(--baseBackground);
  border: 1px solid rgb(254,254,254); border-radius: 10px; overflow: hidden;
  margin-right: 0 auto;
}

footer .layers svg {
  width: 100%;
  height: 100%;
  fill: var(--lightTextGray);
}

footer .chat a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: var(--footerIconSize);
  height: var(--footerIconSize);
  background-color: var(--baseBackground);
  border: 1px solid rgb(254,254,254); border-radius: 10px; overflow: hidden;
  margin-right: 0 auto;
}

footer .chat svg {
  width: 100%;
  height: 100%;
  fill: var(--lightTextGray);
}

footer .profile a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: var(--footerIconSize);
  height: var(--footerIconSize);
  background-color: var(--baseBackground);
  border: 1px solid rgb(254,254,254); border-radius: 10px; overflow: hidden;
  margin-right: 0 auto;
}

footer .profile svg {
  width: 100%;
  height: 100%;
  fill: var(--lightTextGray);
}

/* ========================== */

footer  {
  position: absolute;
  width: 92vw;
  bottom: 0;
  left: 0;
  margin-bottom: 20px;
}

footer .f-wrap {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;

}


/* modal positioning */

.modal-main {
  position: absolute;
  left:12.5vw;
  bottom: 13vh;
}


@media screen and (min-width: 320px) and (max-width: 374px){
  .main-page .main-patient-img {
    height: 50vh;
  }
  
  .modal-main {
    position: absolute;
    bottom: 16vh;
  }
}

/*
===================================================
                USER PAGE
===================================================
*/

/*  Icons */

.main-box .back-arrow {
  display: flex;
  position: absolute;
  top: 8vw;
  left: 3.5vw;
  color: white;
  align-items: center;
}

.main-box .back-arrow a{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 8vw;
  height: 8vw;
}

.back-arrow div svg {
  width: 100%;
  height: 100%;
  fill: white;
  z-index: 2;
}

/* =============== Page ================  */


.user-page {
  padding: 0;
  max-width: 1310px;
  min-width: 320px;
  max-height: 100vh;

}
 .user-page .main-patient-img {
  background: url(https://via.placeholder.com/360x540/yellow) center/cover no-repeat white;
  width: 100%;
/*   height: 50vh; */
  height: calc(var(--vh, 1vh) * 50);
  margin-bottom: 0;
  border-radius: 0 0 15px 15px; overflow: hidden;
  z-index: 0;
}

.user-page {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.user-page .info1-block {
  padding-left: 25px;
  padding-right: 25px;
  padding-top: calc(var(--vh, 1vh) * 4);
  padding-bottom: 10px;
}

.user-page .info1-block .info-wrap{
  display: flex;
  flex-wrap: wrap;
}

.info1-block .info-wrap p:nth-child(1) {
  color: var(--lightTextGray);
  margin-bottom: 5px;
  /* font-size: 0.8rem; */
  font-size: calc(var(--vh, 1vh) * 1.5);
}
.info1-block .info-wrap p:nth-child(2) {
  color: var(--gray);
  margin-bottom: 10px;
  /* font-size: 1.1rem; */
  font-size: calc(var(--vh, 1vh) * 2);
  font-weight: 400;
}



.info1-block .location {
  padding-left: 15%;
}

.info1-block .info-wrap .name,
.info1-block .info-wrap .location {
  width: 50%;
}

.info1-block .info-wrap .interests,
.info1-block .info-wrap .lang,
.info1-block .info-wrap .contact {
  width: 100%;
}

.info1-block .name p:last-of-type::after {
  content: '\f428';
  color: greenyellow;
  display: inline-block;
  -webkit-font-smoothing: antialiased;
  font: bold 24px/1 'Genericons';
  vertical-align: middle;
  margin-left: 2px;
  margin-bottom: 4px;
}

.info-wrap .contact {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.info-wrap .contact .icon-ph {
  background: url(../img/present-icon.png) center/contain no-repeat white;
  width: 20vw;
  height: 20vw;
  margin-bottom: 0;
  border-radius: 0 0 15px 15px; overflow: hidden;
  padding: 3px;
}

.info-wrap .contact .txt-ph {
  width: 55vw;
  margin-top: 15px;
}


.info-wrap .contact h2 {
  font-size: 1.0rem;
}

.info-wrap .contact .txt-ph p {
  color: var(--lightTextGray);
  margin-bottom: 5px;
  font-size: 0.8rem;
}

/* 
====================== scroll menu =============
*/

.scroll-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  min-width: 85vw;
  /* bottom: 44%; */
  bottom: calc(var(--vh, 1vh) * 48);
  left: 7.5vw;
  z-index: 2;
}

.scroll-menu > div {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 10px; overflow: hidden;
}

.scroll-menu .icon-back,
.scroll-menu .icon-fwd {
  width: 13vw;
  height: 13vw;
  background-color: white;
  max-height: 60px;
  max-width: 60px;
}

.scroll-menu .icon-back,
.scroll-menu .icon-fwd {
  display: flex;
  justify-content: center;
  align-items: center;
}

.scroll-menu .icon-back svg {
  margin-top: 5px;
  fill: var(--lightTextGray);  
  width: 24px;
  height: 24px;
}

.scroll-menu .icon-fwd svg {
  margin-top: 5px;
  fill: var(--lightTextGray);  
  width: 24px;
  height: 24px;
  transform: rotate(180deg);
}

.scroll-menu .icon-heart,
.scroll-menu .icon-kill {
  width: 17vw;
  height: 17vw;
  display: flex;
  justify-content: center;
  align-items: center;
  max-height: 80px;
  max-width: 80px;
}

.scroll-menu .icon-heart::after {
  content: '\f461';
  color: white;
  display: inline-block;
  -webkit-font-smoothing: antialiased;
  font: bold 45px/1 'Genericons';
}

.scroll-menu .icon-kill::after {
  content: '\f406';
  color: white;
  display: inline-block;
  -webkit-font-smoothing: antialiased;
  font: bold 33px/1 'Genericons';
}



.scroll-menu .icon-heart {
  background-color: var(--purple);
}

.scroll-menu .icon-kill {
  background-color: var(--orange);
}

@media screen and (min-width: 768px) {

  .info1-block .info-wrap p:nth-child(1) {
    color: var(--lightTextGray);
    margin-bottom: 5px;
    font-size: 1.3rem;
    /* font-size: calc(var(--vh, 1vh) * 1.5); */
  }
  .info1-block .info-wrap p:nth-child(2) {
    color: var(--gray);
    margin-bottom: 10px;
    font-size: 1.5rem;
   /*  font-size: calc(var(--vh, 1vh) * 2); */
    font-weight: 400;
  }
  
  .info-wrap .contact .icon-ph {
    background: url(../img/present-icon.png) center/contain no-repeat white;
    width: 15vw;
    height: 15vw;
    margin-bottom: 0;
    border-radius: 0 0 15px 15px; overflow: hidden;
    padding: 3px;
  }

  .info-wrap .contact h2 {
    font-size: 1.5rem;
  }
  
  .info-wrap .contact .txt-ph p {
    color: var(--lightTextGray);
    margin-bottom: 5px;
    font-size: 1.2rem;
  }
  .info-wrap .interest,
  .info-wrap .contact,
  .info-wrap .lang {
    margin-top: 18px;
  }

  .user-page .info1-block {
    padding-left: 30px;
    padding-right: 30px;
  }

  .scroll-menu .icon-back,
  .scroll-menu .icon-fwd {
    width: 15vw;
    height: 15vw;
    max-height: 80px;
    max-width: 80px;
  }

  .scroll-menu .icon-heart,
.scroll-menu .icon-kill {
  width: 20vw;
  height: 20vw;
  max-height: 95px;
  max-width: 95px;
}

.scroll-menu .icon-heart::after {
  content: '\f461';
  color: white;
  display: inline-block;
  -webkit-font-smoothing: antialiased;
  font: bold 45px/1 'Genericons';
}

.scroll-menu .icon-kill::after {
  font: bold 45px/1 'Genericons';
}

.scroll-menu .icon-heart::after {
  font: bold 65px/1 'Genericons';
}

}